@media (min-width: 1000px){
    .video {
        height: 315px;
        width: 560px;
        border: 5px solid rgb(238, 238, 238);
        background-color: rgb(238, 238, 238);;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0,0,0,0.5);
    }
    .carousel_row{
        height: 900px;
        background-color: rgb(72, 197, 34);
    }
    .link_container a{
        font-size: 20px;
    }
}

@media (min-width: 700px) and (max-width: 1000px) {
    
    .milford_description, .skycity_description, .hobbiton_description{
        border-bottom: 1px solid rgb(228, 228, 228);
    }
    .video {
        height: 300px;
        width: 95%;
        margin: 20px 0
    }
    .carousel_row{
        height: 400px;
        background-color: rgb(72, 197, 34);
    }
    .link_container a{
        font-size: 20px;
    }
}
@media (min-width: 100px) and (max-width: 800px) {
    
    .milford_description, .skycity_description, .hobbiton_description{
        border-bottom: 1px solid rgb(228, 228, 228);
    }
    .video {
        height: 255px;
        width: 95%;
        margin: 20px 0
    }
    .carousel_row{
        height: 300px;
        background-color: blue;
    }
    .link_container a{
        display: none;
    }
}
@font-face{
    font-family: Arial;
    src: url("../MainPage/fonts/thin.ttf");
}



body{
    margin: 0;
    padding: 0
}
.header{
    width: 100%;
    height: 50px;
    background-color: rgb(71, 82, 76);
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left:0;
    z-index: 100;
}
.header a{
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 24px;
    font-family: Arial;
}
.header a:hover{
    color: rgb(255, 255, 255);
    text-decoration: underline;
    font-size: 26px;
    cursor: pointer;
}
.header label{
    padding: 5px 15px
}
.dots{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: rgb(255, 255, 255);
    display: inline-block;
    margin-top: -5px;
}


/*MILFORD*/
.milford_row, .skycity_row, .hobbiton_row{
    font-family: Arial;
}
.milford_description, .skycity_description, .hobbiton_description{
    background-color: rgb(255, 255, 255);
    vertical-align: middle;
    z-index: -100;
}
.desc_hr{
    width: 100px
}
.milford_video, .skycity_video, .hobbiton_video{
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: center;
}
.video {
    border: 5px solid rgb(238, 238, 238);
    background-color: rgb(238, 238, 238);;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
.video iframe{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}
.image_container{
    height: 100%;
    background-size: cover;
}
.carousel{
    height: 100%;
}
.carousel-inner,.carousel-item{
    height: 100%;
}

/*FOOTER*/
footer{
    background-color: rgb(71, 82, 76);
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.insta, .twitter, .facebook, .youtube, .plane{
    height: 30px;
    margin-right: 20px;
}
.icon_container{
    display: inline-block;
}
.icon{
    width: 30px;
    height: 30px;
    background-size: contain;
    background-repeat: no-repeat;
}
.link_container{
    display: inline;
    vertical-align: bottom;
}
.link_container a{
    vertical-align: bottom;
    color: rgb(255, 255, 255);
    font-family: Arial;
    line-height: normal;font-weight: lighter;
}
.link_container:hover{
    text-decoration-line: underline;
}